body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f5f7fa;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  overflow: hidden;
  transition: 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.search-dropdown {
  position: absolute;
  background: rgb(18, 2, 77);
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  z-index: 20;
}

.search-item {
  padding: 10px;
  cursor: pointer;
}

.search-item:hover {
  background: #eee;
}
